/node_modules
/public/hot
/public/storage
/public/panel
/public/application
/public/landing
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.scribe
/.scribe/*
/resources/views/scribe/
/resources/views/scribe/*
